@import 'config';
@import 'activeClasses';
@import 'books';

body {
    background-color: $background-color;
    color: $text-color;
    @include flex-column;
    align-items: center;
}

.font-400 {
    font-weight: 400;
}

.button {
    font-family: inherit;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.theme-button {
    background: $background-color;
}

.darkDefault {
    background: $background-color-dark;
    color: $color-dark;
}

.main {
    width: 80%;
    max-width: 50rem;
    padding: 1.5rem 1rem;
    font-family: 'Outfit', sans-serif;

    &__title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__button {
        padding: 0.75rem 1rem;
        border-radius: 2rem;
        background-color: $accent-color;
        color: #fff;
        font-size: 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: rgba($accent-color, 0.5);
        }
    }

    &__books {
        @include space-between;
        padding: 0.5rem 0;
        border-bottom: 2px solid #eaeaea;
        margin-top: 0.5rem;
        &--title {
            font-size: 2rem;
        }
    }
}
